*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-height: 40vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1{
    font-size: 3em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input,
button {
  padding: 6px;
  margin-left: 12px;
}
button:first-of-type {
  margin-left: 0;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
