*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-heading {
  font-size: 4em;
  text-align: center;
  color: #fff;
  padding: 5%;
  margin: auto;
  font-weight: bold;
}

body {
  min-height: 40vh;
  margin: 0;
  background: rgb(20,81,221);
  background: linear-gradient(90deg, rgba(20,81,221,1) 20%, rgba(70,202,252,1) 100%);
}

.input {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

}

input,
button {
  padding: 6px;
  margin-left: 1px;
}


